[Unit]
Description=Apache Tomcat
After=network.target

[Service]
Type=forking
ExecStart=/bin/su -p -s /bin/sh apache-tomcat -c "/opt/apache-tomcat/bin/catalina.sh start"
ExecStop=/bin/su -p -s /bin/sh apache-tomcat -c "/opt/apache-tomcat/bin/catalina.sh stop"

[Install]
WantedBy=multi-user.target
